html, * {
	font-family: 'Georgia', serif;
}

body {
	background: #fdfdfd;
    color: #3a5338;
    font-size: 18px;
    line-height: 1.5;
	margin: 1em auto;
    padding: 1em;
    max-width: 40em; /*700px (?)*/
}

h1, h2, h3, h4 {
	font-family: Papyrus, Georgia, serif;
	color: #84b383;
	font-weight: normal;
	line-height: 1.2;
}

a{
	text-decoration: none;
	color: #5a8f58;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-ms-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

a:hover{
	color: #9CBF9B;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(136 171 122 / 75%), rgba(0, 0, 0, 0));
}

footer{
	font-size:.7em;
	bottom:0;
	margin-left: auto;
	margin-right: auto;
}

fieldset {
  /*border: 1px solid #c1dbc1;*/
  
  border-image: linear-gradient(45deg, violet, pink) 30;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 1em;
}

legend {
	font-family: 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
	color: white;
	font-size: 1.25em;
	padding: 5px 10px;
	background: linear-gradient(45deg, #f9779c, #ffb24d, #fff269, #b3e84a, #7adeff, #d58ce6, #f9779c);
	border-radius: 10px;
}

legend.physicalsc {
	background: linear-gradient(45deg, #f9779c, #ffb24d);
}
legend.psychologicalsc {
	background: linear-gradient(45deg, #ffb24d, #fff269);
}
legend.emotionalsc {
	background: linear-gradient(45deg, #fff269, #b3e84a);
}
legend.spiritualsc {
	background: linear-gradient(45deg, #b3e84a, #7adeff);
}
legend.relationshipsc {
	background: linear-gradient(45deg, #7adeff, #d58ce6);
}
legend.professionalsc {
	background: linear-gradient(45deg, #d58ce6, #f9779c);
}
