html, * {
	font-family: 'Georgia', serif;
}

body {
	background: #ffffff;
    color: #3d3d3d;
    font-size: 18px;
    line-height: 1.5;
	margin: 1em auto;
    padding: 1em;
    max-width: 40em; /*700px (?)*/
}

h1, h2, h3, h4 {
	font-family: "Berkshire Swash", Georgia, serif;
	/*color: magenta;*/
	font-size: 2.4em;
	text-align: center;
	font-weight: normal;
	line-height: 1.2;
	background: linear-gradient(to right, #ff645e, #f3437e, #9c63ff, #2196f3, #26c6da, #66df6b, #ffd841, #f9a825, #ff2292);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
	text-decoration: none;
	color: #5a8f58;
	-webkit-transition: color .4s linear;
	-moz-transition: color .4s linear;
	-ms-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}

a:hover{
	color: #9CBF9B;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(136 171 122 / 75%), rgba(0, 0, 0, 0));
}

footer{
	font-size:.7em;
	bottom:0;
	margin-left: auto;
	margin-right: auto;
}

input[type="radio"] {
  vertical-align: baseline;
  margin: 7px;
}

input[type="radio"].physicalsc {
	accent-color: #ed1f91;
}
input[type="radio"].psychologicalsc {
	accent-color: #df7100;
}
input[type="radio"].emotionalsc {
	accent-color: #699f00;
}
input[type="radio"].spiritualsc {
	accent-color: #09a56b;
}
input[type="radio"].relationshipsc {
	accent-color: #3298b9;
}
input[type="radio"].professionalsc {
	accent-color: #a54edb;
}

fieldset {
  border-image: linear-gradient(45deg, #fcbbce, #ffd9a6, #fff9b4, #d9f4a5, #bdefff, #eac6f3, #fcbbce) 30;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 1em;
}

fieldset.physicalsc {
	border-image: linear-gradient(45deg, #fcbbce, #ffd9a6) 30;
}
fieldset.psychologicalsc {
	border-image: linear-gradient(45deg, #ffd9a6, #fff9b4) 30;
}
fieldset.emotionalsc {
	border-image: linear-gradient(45deg, #fff9b4, #d9f4a5) 30;
}
fieldset.spiritualsc {
	border-image: linear-gradient(45deg, #d9f4a5, #bdefff) 30;
}
fieldset.relationshipsc {
	border-image: linear-gradient(45deg, #bdefff, #eac6f3) 30;
}
fieldset.professionalsc {
	border-image: linear-gradient(45deg, #eac6f3, #fcbbce) 30;
}


legend {
	font-family: "Berkshire Swash", Georgia, serif;
	color: white;
	font-size: 1.5em;
	padding: 5px 10px;
	background: linear-gradient(45deg, #f9779c, #ffb24d, #fff269, #b3e84a, #7adeff, #d58ce6, #f9779c);
	border-radius: 10px;
}

legend.physicalsc {
	background: linear-gradient(45deg, #f9779c, #ffb24d);
}
legend.psychologicalsc {
	background: linear-gradient(45deg, #ffb24d, #fff269);
}
legend.emotionalsc {
	background: linear-gradient(45deg, #fff269, #b3e84a);
}
legend.spiritualsc {
	background: linear-gradient(45deg, #b3e84a, #7adeff);
}
legend.relationshipsc {
	background: linear-gradient(45deg, #7adeff, #d58ce6);
}
legend.professionalsc {
	background: linear-gradient(45deg, #d58ce6, #f9779c);
}
